<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
<div style="display: flex;align-items:center;justify-content:center;height:100%;background-color:#78B7D0 ">

    <div class="form-box">
        <form class="form" action="/register" method="post">
            <span class="title">Sign up</span>
            <span class="subtitle">Create a free account with your email.</span>
            <div class="form-container">
                     <input type="text" class="input" placeholder="Username" name="username">
                     <input type="text" class="input" placeholder="Name" name="name">
                    <input type="email" class="input" placeholder="Email" name="email">
                    <input type="password" class="input" placeholder="Password" name="password">
            </div>
                <input type="submit" style=" background-color: #0066ff;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;">
        </form>
        <div class="form-section">
          <p>Have an account? <a href="/login">Log in</a> </p>
        </div>
        </div>

</div>
</body>
</html>